/* first page styles */
.first-page__header {
  position: absolute;
  top: 30px;
  left: 30px;
}

.first-page__logo {
  width: 350px;
  height: 116px;
}

.first-page__caption {
  margin: 0 0 0 28px;
  width: 350px;
  color: #ccc;
  text-align: left;
  font-family: Ubuntu;
  font-size: 2.3rem;
}

.first-page__footer {
  position: absolute;
  bottom: 2.7rem;
  left: 50%;
}

.first-page__footer-image {
  width: 130px;
  margin-bottom: 50px;
}

/* end first page styles*/
/* regular page styles */

.regular-page__background {
  position: absolute;
  top: 3rem;
  right: 2rem;
}

.regular-page__logo {
  width: 200px;
}

/* end regular page styles */
/* overrides */

.remark-slide-content h1 {
  font-size: 68px;
  margin-bottom: 72px;
}
.remark-slide-content p, .remark-slide-content ol, .remark-slide-content ul {
  font-size: 40px;
  line-height: 64px;
}
.remark-slide-content pre {
  font-size: 32px;
}
.remark-slide-content ol, .remark-slide-content ul, .remark-slide-content pre {
  text-align: left;
}

/* end overrides */
